<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Rastreador</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-dark bg-primary navbar-fixed-top">
		<a class="navbar-brand" href="/">Rastreador</a>
	</nav>
	<div class="container mt-4 mb-4">
		<h3 class="text-center">Rastreie suas encomendas do Correios</h3>
		<div class="row d-flex justify-content-center mt-4">
			<form class="form-inline" action="/rastrear" method="POST">
				<div class="col-auto">
					<input class="form-control" name="codigo" type="search" placeholder="Código" aria-label="Search" required>
				</div>
				<div class="col-auto">
					<button class="btn btn-primary" type="submit">Rastrear</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>